.container
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            %span.blue C
            %span.red $
            %span.yellow 5
            %span.green 0
            %span.red Finance
        #navbar.collapse.navbar-collapse
          - if session[:user_id]
            %ul.nav.navbar-nav
              %li
                %a{:href => "/quote"} Quote
              %li
                %a{:href => "/buy"} Buy
              %li
                %a{:href => "/sell"} Sell
              %li
                %a{:href => "/history"} History
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{:href => "/sessions/logout"} Log Out
%p"Welcome, #{@user.name}!"
%br
%a{:href => "/sessions/logout"} Log Out
